<section fxLayout fxLayoutAlign="center">
  <mat-card fxFlex="400px">
    <mat-card-header fxLayout fxLayoutAlign="center">
      <mat-card-title>Time to start a new workout</mat-card-title>
      <mat-card-subtitle>Select a training workout to start</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content fxLayout fxLayoutAlign="center">
      <mat-form-field>
        <mat-label>Exercises</mat-label>
        <mat-select>
          <mat-option value="pull-ups">
            Pull ups
          </mat-option>
          <mat-option value="crunches">
            Crunches
          </mat-option>
          <mat-option value="side-lunges">
            Side Lunges
          </mat-option>
          <mat-option value="Burpees">
            Burpees
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions fxLayout fxLayoutAlign="center">
      <button mat-button color="primary" (click)="onStartTraining()" type="submit">Start</button>
    </mat-card-actions>
  </mat-card>
</section>
