<section
  fxFlex
  fxLayout="column"
  fxLayoutAlign="center center"
  class="current-training"
>
  <mat-progress-spinner color="warn" value="{{ progress }}" mode="determinate">
  </mat-progress-spinner>
  <h1>{{ progress }}%</h1>
  <p>Keep on going, you can do it!</p>
  <div class="button-row">
    <button mat-raised-button color="warn" (click)="onStop()">Stop</button>
    <button mat-raised-button color="accent" (click)="onPausePlay()">
      {{pauseplay}}
    </button>
    <button mat-raised-button color="primary" (click)="onReset()">
      Reset
    </button>
  </div>
</section>
